{% extends "base.html" %}

{% block content %}
{% url 'lista_alimentos' as url_volver %}

{% include 'components/page_header.html' with title="Gestionar alimentos" subtitle="Crear alimento" back_url=url_volver %}



<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">Guardar</button>
</form>

{% if success %}
<div class="alert alert-success" role="alert">
    <strong>{{ success }}</strong>
</div>
{% endif %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>Errores en el formulario:</strong>
    <ul class="mb-0">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if advertencias %}
<div class="alert alert-warning" role="alert">
    <strong>Advertencias del sistema experto:</strong>
    <ul class="mb-0">
        {% for a in advertencias %}
        <li>{{ a }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if info %}
<div class="alert alert-info" role="alert">
    <strong>Clasificaciones:</strong>
    <ul class="mb-0">
        {% for i in info %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

