{% extends "base.html" %}

{% block content %}
{% url 'index' as url_volver %}

{% include 'components/page_header.html' with title="Información general" subtitle="" back_url=url_volver %}


 
<h2 class="display-5 text-center">Datos del paciente</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Dirección</th>
            <th>Número de teléfono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.apellido }}</td>
            <td>{{ paciente.edad }}</td>
            <td>{% if paciente.sexo == 'M' %}Masculino{% else %}Femenino{% endif %}</td>
            <td>{{ paciente.direccion_residencial }}</td>
            <td>{{ paciente.numero_telefono }}</td>
        </tr>
    </tbody>
</table>
<h2 class="display-5 text-center">Alimentos y habitos alimenticios</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Alimentos</th>
            <th>Fecha de creación</th>
        </tr>
    </thead>
    <tbody>
        {% for d in paciente.dietas.all %}
        <tr>
            
            <td>{{ d.descripcion }}</td>
            <td>
                {% for da in d.alimentos.all %}
                {{ da.nombre }} 
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}
            </td>
            <td>{{ d.creada|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2 class="display-5 text-center">Motivos de consulta</h2>

<table class="table table-bordered">
    <thead>
        <tr>
           
         
            <th>Motivo</th>
            <th>Observaciones</th>

            <th>Síntomas</th>
               <th>Fecha de consulta</th>
        </tr>
    </thead>
    <tbody>

        <tr>
          
           
            <td>{{ motivo_consulta.motivo }}</td>
            <td>{{ motivo_consulta.observaciones }}</td>

            <td>
                {% for s in motivo_consulta.sintomas.all %}
                {{ s.nombre }}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}
            </td>
             <td>{{ motivo_consulta.fecha_consulta|date:"d/m/Y" }}</td>
        </tr>

    </tbody>
</table>
<h2 class="display-5 text-center">Antropometria</h2>
<table class="table table-bordered">
    <thead>
        <tr>

          
            <th>Peso corporal (kg)</th>
            <th>Altura (cm)</th>
            <th>IMC</th>
            <th>Perímetro abdominal (cm)</th>
  <th>Fecha de medición</th>
        </tr>
    </thead>
    <tbody>

        <tr>

          
            <td>{{ antropometria.peso_corporal }}</td>
            <td>{{ antropometria.altura }}</td>
            <td>{{ antropometria.imc|floatformat:2 }}</td>
            <td>{{ antropometria.perimetro_abdominal }}</td>
  <td>{{ antropometria.fecha_medicion|date:"d/m/Y" }}</td>
        </tr>

    </tbody>

</table>
<div style="background-color: #e9ecef;">
    <h2 class="display-5 text-center">Diagnosticos sistema experto</h2>
    <br>
    <p><strong>Diagnosticos:</strong> {{diagnostico_problema.explicacion}}</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
            <span>Clasificación:</span>
            <span>{{diagnostico_problema.regla_activada.classification}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>Condición:</span>
            <span>{{diagnostico_problema.regla_activada.condition}}</span>
        </li>
    </ul>
</div>
{% endblock %}
