{% extends "base.html" %}

{% block content %}

{% if success %}
<div class="alert alert-success" role="alert">
    {{ success }}
</div>
{% endif %}
<h1>Motivo de la consulta</h1>
<p>Por favor, describe el motivo de tu consulta nutricional.</p>

<h2>Síntomas</h2>
<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'agregar_sintoma_motivo_consulta' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="sintomas" value="{{ sintomas|join:',' }}">
            <div class="mb-3">
                <label for="sintomas" class="form-label">Síntomas</label>
                <select name="sintoma_seleccionado" id="sintoma_seleccionado" class="form-select">
                    <option value="">Seleccione una opción</option>
                    {% for s in sintomas %}
                    <option value="{{ s.id }}">{{ s.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Agregar sintomas</button>
        </form>
    </div>
    <div class="col-sm-6">
        {% if sintomas_seleccionadas %}
        <a href="{% url 'vaciar_sintomas_seleccionados' %}" class="btn btn-warning btn-sm" style="margin-bottom: 0px;margin-top: -6px;" >Vaciar sintomas</a>
        {% endif %}
        
        <ul class="list-group" style="margin-top: 4px;">
            {% for s in sintomas_seleccionadas %}
            <li class="list-group-item">{{ s.nombre }} </li>
            {% endfor %}
        </ul>
    </div>
</div>
<br>
<br>
<h2>Anotaciones</h2>
<form action="{% url 'motivo_consulta' %}" method="post">
    {% csrf_token %}




    <div class="mb-3">
        <label for="paciente" class="form-label">Paciente</label>
        <select name="paciente" id="paciente" class="form-select">
            <option value="">Seleccione un paciente</option>
            {% for p in pacientes %}
                {% if paciente and p.id == paciente.id %}
                    <option value="{{ p.id }}" selected>{{ p.nombre }} {{ p.apellido }}</option>
                {% else %}
                    <option value="{{ p.id }}">{{ p.nombre }} {{ p.apellido }}</option>
                {% endif %}
            {% endfor %}



        </select>
    </div>
    <div class="mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <textarea name="observaciones" id="observaciones" class="form-control" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="motivo" class="form-label">Motivo de la consulta</label>
        <textarea name="motivo" id="motivo" class="form-control" rows="3"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock %}